body{
    background-color: lightsteelblue;
    font-size: 1.2em;
}
li{
    display: inline-block;
    background-color: buttonface;
    margin-right: 10px;
}
a{
    width: 100%;
    display: block;
    padding: 5px;
}
footer{
    text-align: center;
    margin: 0 auto;
    a{
        width: 6%;
        max-width: fit-content;
        display: inline-block;
    }
}
input{
    display: block;
    padding: 5px;
    margin: 10px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    td,th{
        border: 1px solid black;
        padding: 2px 5px;
    }

}
.questions{
    margin: 10px;
    background-color: #f89a9a;
    box-shadow: 0 2px 2px black;
    padding: 5px;
    div>div{
        display: inline-block;
        margin: 5px;
        margin-top: 10px;
    }

}
.container{
    background-color: #fbaf79;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
    padding: 5px;
    width:90%;

    #first{        
        font-weight:bold;
        float:left;    
    }
    #second{
        float:right;
    }
}
.clearfix{
    width: 0;
    height: 1px;
    clear: both;
    display: block;
    margin-bottom: 10px;
}
.innerContainer{
    div{
        display: inline-block;
        margin-right: 10px;
    }
}
.text{
    background-color: wheat;
    padding: 5px;
    margin: 5px;
}
.addQuestion{
    border: 1px solid #0cbb12;
    padding: 5px;
    box-shadow: 0 0 10px black;
    width: 26%;
    input{
        display: inline-block;
        margin: 0;
        width: 200px;
    }
    input[type='submit']{
        width: 150px;
        font-size: 1.1em;        
    }
    div div{
        width: 25%;
        margin: 5px;
        padding: 10px;
        display: inline-block;
    }
    select{
        padding: 2px;
        width: 213px;
    }
    textarea{
        width: 208px;
        height: 200px;
        vertical-align: middle;
    }
}